/* @font-face {
  font-family: "amsterdam_serif", serif;
  src: url("../font/amsterdam_serif/amsterdam_serif.ttf");
} */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

* {
  /* font-family: "amsterdam_serif", serif; */
  font-family: "Playfair Display", serif;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.notosans {
  font-family: "Noto Sans KR", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
